<%= render layout: "shared/filter_modal_layout", locals: { filter_path: master_freight_items_path } do |f| %>
  <div class="mb-3">
    <%= f.label :status_eq, "Status", class: "form-label" %>
    <%= f.select :status_eq, FreightItem::STATUS_LIST.display_dropdown, { include_blank: true, prompt: "-- Select one status --" }, { class: "form-control" } %>
  </div>
<% end %>
