<p>Hey <%= @recipient.full_name %>,</p>
<p><%= @module_name %> have been partially imported. Please find the attachment below to check the unprocessable records.</p>

<p>Thanks,</p>
<p>Team MandalaFreight</p>
