<% provide(:page_title, "Dashboard") %>
<% provide(:page_header, "Dashboard") %>

<h1>Welcome to MandalaFreight Dashboard!!</h1>
<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "text-danger" %>
