<%= render layout: "shared/filter_modal_layout", locals: { filter_path: master_container_details_path } do |f| %>
  <div class="mb-3">
    <%= f.label :archived_eq, "Archived", class: "form-label" %>
    <%= f.select :archived_eq, boolean_flag_filter_list, { include_blank: true, prompt: "-- Select option --" }, { class: "form-control" } %>
  </div>
<% end %>
