<%= render layout: "shared/details_modal_layout", locals: { resource: @unit } do |f| %>
  <div class="table-responsive">
    <table class="table details-table">
      <tbody>
        <tr>
          <td>Name</td>
          <td><%= @unit.name %></td>
        </tr>

        <tr>
          <td>Container Type</td>
          <td><%= @unit.container_type.display %></td>
        </tr>

        <tr>
          <td>Status</td>
          <td><%= @unit.status.display %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
