@import "variables";

.auth-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-card {
  max-width: 500px;
  padding: 25px;
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;
  background-color: $white-color;
}

.auth-flash-message {
  max-width: 500px;
  width: 100%;
}

.page-card {
  border-radius: $default-border-radius;
  background-color: $white-color;
  box-shadow: $default-box-shadow;
}

.page-card-header {
  padding: 30px 30px 20px;
  display: flex;
  justify-content: space-between;
}

.page-card-body {
  padding: 30px;
}
