@import "variables";

.auth-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-card {
  max-width: 500px;
  padding: 25px;
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;
  background-color: $white-color;
}

.auth-flash-message {
  max-width: 500px;
  width: 100%;
}

.page-card {
  background-color: $white-color;
  padding: 30px;
  border: 1px solid $grey-bg-color;

  &.no-top-border {
    border-top: 0;
  }
}

.page-card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
