@import "variables";

.form-label {
  font-size: $small-font-size;
  margin-bottom: 3px;
  font-family: "AribauGroteskLight";
  text-transform: uppercase;
}

.form-control {
  border-color: $grey-color;
  color: $text-color;
  padding: 9px 16px;
  transition: $default-transition;
  font-size: $font-size;
  border-radius: $default-border-radius;
  border-color: $grey-color;

  &:focus, &:hover {
    box-shadow: none;
    border-color: $primary-color;
  }

  &.file {
    padding: 0.375rem .75rem
  }
}

.form-check-input {
  &:checked {
    background-color: $primary-color;
    border-color: $primary-color;
  }

  &:focus {
    box-shadow: none;
  }
}

.form-check-label {
  user-select: none;
  cursor: pointer;
}

.actions {
  margin-top: 25px;
}

.search-form {
  width: 100%;
  max-width: 350px;
}
