@import "variables";

.modal-content {
  border-radius: $default-border-radius;
}

.modal-header {
  border: 0;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.modal-title {
  font-size: 18px;
  font-family: "AribauGroteskMedium";
}

.modal-body {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.modal-footer {
  padding: 10px 25px 25px;
  border: 0;
}

.offcanvas-body {
  height: calc(100vh - 120px);
}

.offcanvas-footer {
  padding-left: 16px;
  padding-right: 16px;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
