@import "variables";

.secondary-text {
  font-size: 11px;
  font-family: "AribauGroteskRegular";
  color: $grey-color;
}

.hide {
  display: none;
}

.content-container {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: 230px;
}

.main-content {
  padding-left: 30px;
  padding-right: 30px;
}

.well {
  background-color: $primary-bg-color;
  border-radius: $default-border-radius;
  padding: 25px;
}

.empty-record-well {
  display: flex;
  flex-direction: column;
  align-items: center;

  .no-record-text {
    margin-top: 15px;
    color: $primary-color;
  }
}

.required:after {
  content: "*";
  position: relative;
  font-size: inherit;
  color: $red-color;
  padding-left: 4px;
  font-family: "AribauGroteskBold";
}

.pagination-block {
  display: flex;
  justify-content: center;
  font-family: "AribauGroteskMedium";

  .pagination {
    flex-wrap: wrap;
    justify-content: center;
  }

  .page {
    padding: 6px 13px;
    background-color: $primary-bg-color;
    margin: 3px;
    border-radius: $default-border-radius;
    font-weight: 500;
    transition: $default-transition;

    &:hover {
      background-color: $primary-color;
    }

    a {
      cursor: pointer;
      display: inline-block;
      position: relative;
      z-index: 1;
      padding: 7px 15px;
      margin: -7px -15px;
      color: $primary-color;
      border-radius: $default-border-radius;

      &:hover {
        color: $white-color;
        background-color: $primary-color;
      }
    }

    &.active {
      background-color: $primary-color;
      color: $white-color;
      cursor: not-allowed;
    }
  }

  .disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $primary-bg-color;
    }
  }
}

.action-dropdown {
  margin-left: 3px;

  .dropdown-toggle {
    padding: 8.75px 6px;
    margin: 0;

    .bi {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
    }

    &:after {
      display: none;
    }
  }
}

.page-header {
  margin-bottom: 25px;

  h1 {
    font-size: 26px;
    font-family: "AribauGroteskMedium";
  }
}

.applied-filters {
  margin-bottom: 10px;

  .header {
    font-family: "AribauGroteskMedium";
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: $grey-color;
    font-size: 14px;
  }

  .filter-options {
    color: $grey-color;
  }
}

.dropdown-item {
  font-size: $font-size;
}

.nav-tabs {
  border-color: $grey-bg-color;

 .nav-link.active {
    border-color: $grey-bg-color;
    border-bottom-color: transparent;
  }
}
