@import "variables";

.table {
  th {
    text-transform: uppercase;
    background-color: $primary-bg-color;
    padding: 9px 15px 9px 25px;
    color: $primary-color;
    min-width: 150px;
    max-width: 300px;
    border-bottom: 2px solid $primary-color;
    font-family: "AribauGroteskBold";
  }

  tbody {
    border: 0 !important;
  }

  td {
    padding: 4px 15px 4px 25px;
    min-width: 150px;
    max-width: 300px;
    vertical-align: middle;
    border: 0;
    font-family: "AribauGroteskRegular";
  }

  tr td:first-child {
    font-family: "AribauGroteskMedium";
  }

  tbody tr:last-child td {
    border-bottom: 0;
  }

  tr:nth-child(even) {
    background-color: $light-grey-color;
  }

  &.table-sm {
    th, td {
      padding: 5px 5px 5px 10px;
    }
  }

  &.details-table {
    font-size: 12px;
    margin-bottom: 0;
    border: 1px solid $primary-bg-color;

    tr {
      border-bottom: 1px solid $primary-bg-color;
    }

    td {
      padding: 4px 15px 4px 10px;

      &:first-child {
        font-family: "AribauGroteskLight";
        border-right: 1px solid $primary-bg-color;
      }
    }
  }
}
