<div class="page-header">
  <div class="d-flex justify-content-between">
    <div class="left-section">
      <h1><%= yield(:page_title) %></h1>

      <div class="breadcrumbs">
        <%= breadcrumbs.render(format: :inline, separator: " » ") %>
      </div>
    </div>

    <div class="right-section">
      <%= yield(:header_right_section) %>
    </div>
  </div>
</div>
