<div class="page-header">
  <div class="d-flex justify-content-between">
    <div class="left-section">
      <h1><%= yield(:page_title) %></h1>

      <div class="breadcrumbs">
        <%= breadcrumbs.render(format: :inline, separator: " » ") %>
      </div>
    </div>

    <div class="right-section">
      <% if yield(:filter_settings).to_bool %>
        <%= link_to "#", class: "header-icon-link margin-left-10", title: "Filter settings" do %>
          <i class="bi bi-funnel-fill"></i>
        <% end %>
      <% end %>

      <% if yield(:page_settings).to_bool %>
        <%= link_to edit_page_setting_path(@page_setting), remote: true, class: "header-icon-link margin-left-10", title: "Page settings" do %>
          <i class="bi bi-gear-fill"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
