<%= render layout: "shared/form_modal_layout", locals: { resource: @charge_type, namespace: "master" } do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: "form-label required" %>
    <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "form-control", required: true, maxlength: 250 %>
    <%= render "shared/field_error_messages", resource: @charge_type, key: :name %>
  </div>
<% end %>
